doctype html
html(ng-app='daily_record_form')
  head
    title Add tree data to database
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width')
    |     
    meta(name='mobile-web-app-capable', content='yes')
    |     
    meta(name='apple-mobile-web-app-capable', content='yes')
    |     
    meta(name='description', content='')
    |     
    meta(name='keywords', content='')
    |     
    meta(name='author', content='Charles Fritz')
    |     
    link(rel='stylesheet', href='bower_components/bootstrap-table/dist/bootstrap-table.min.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/components-font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap-table/dist/bootstrap-table.min.css')     
    link(rel='stylesheet', href='/stylesheets/app.css')

  body(ng-controller='mainController')
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            |             
            span.icon-bar
            |             
            span.icon-bar
          |           
          span.navbar-brand.title Guardian DMS
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a#about-btn(href='#', data-toggle='collapse', data-target='.navbar-collapse.in')
                i.fa.fa-question-circle.fa-white
                |  About
             li.dropdown
              a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                i.fa.fa-tree.fa-white
                |  
                span#map Mapping  
                b.caret
              |           
              ul.dropdown-menu
                li
                  a(href='/map', data-toggle='collapse', data-target='.navbar-collapse.in', name='map')
                    i.fa.fa-globe
                    |  Guardian 2015/16
                    |                               
            li.dropdown
              a.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
                i.fa.fa-tree.fa-white
                |  
                span#tapping Birch Tapping  
                b.caret
              |           
              ul.dropdown-menu
                li
                  a(href='/addTrees', data-toggle='collapse', data-target='.navbar-collapse.in', name='tapping')
                    i.fa.fa-plus
                    |  Add Trees
                    | 
                li
                  a(href='/addData', data-toggle='collapse', data-target='.navbar-collapse.in', name='tapping')
                    i.fa.fa-plus
                    |  Add Data
            li
              a#logout-btn(href='/logout', data-toggle='collapse', data-target='.navbar-collapse.in')
                i.fa.fa-question-circle.fa-white
                |  Logout 
    .container
      .header
        h1 Add Trees
      form.form-inline
    
    .form-group
        label.col-md-2.control-label(for='tree_id ') Tree ID
          input.form-control.input-md(id='tree_id', type='text', placeholder='e.g T01', ng-model='formData.tree_id')

    .form-group
        label.col-md-2.control-label(for='date') Date of Observation
            input.form-control.input-md(id='date', type='text', placeholder='e.g. 04/23/2016', ng-model='formData.date')
    .form-group
        label.col-md-2.control-label(for='time') Time of Observation
            input.form-control.input-md(id='time', type='text', placeholder='e.g. 04/23/2016 21:00', ng-model='formData.time')
    .form-group
        label.col-md-2.control-label(for='flow ') Quantity
          input.form-control.input-md(id='flow', type='text', placeholder='e.g .79 liters', ng-model='formData.flow')
    .form-group
        label.col-md-2.control-label(for='sugar') Sugar
          input.form-control.input-md(id='sugar', type='text', placeholder='', ng-model='formData.sugar')
    .form-group
        label.col-md-2.control-label(for='color') Color
          input.form-control.input-md(id='color', type='text', placeholder='', ng-model='formData.color')
    .form-group
        label.col-md-2.control-label(for='name') Recorder
          input.form-control.input-md(id='name', type='text', placeholder='e.g. Leo Lepiano', ng-model='formData.name')

      button.btn.btn-primary.btn-sm.btn-block(type='submit', ng-click='addData()') Add daily record to database
      button.btn.btn-primary.btn-sm.btn-block(type='submit', ng-click='exportData()') Export Csv from database


    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/bootstrap-table/dist/bootstrap-table.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular.min.js')
    script(src='/bower_components/moment/min/moment.min.js')
    script(src='/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
    script(src='javascripts/daily_record.js')
