doctype html
html
  head
  title
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
  body
    .container
      .row
        .col-sm-6.col-md-4.col-md-offset-4
          h1.text-center.login-title Sign in to Guardian DMS Application
          .account-wall
          form(method='POST')
          legend Forgot Password
          .form-group
          label(for='email') Email
          input.form-control(type='text', name='email', autofocus)
          button.btn.btn-primary(type='submit') Reset Password